examples/*.ll
examples/*.exe

tools/lsp/slua-lsp/build/*

build/*

!build/compiler/
build/compiler/*.cmake
!build/compiler/sluac.exe


*.ll
*.o
*.obj
*.a
*.lib
*.out
*.pdb
*.obj
*.ilk
*.slua.sig

cache/

bin/*

node_modules/
npm-debug.log
package-lock.json