.packages/
Learn-sarn/

examples/*.ll
examples/*.exe

tools/lsp/sarn-lsp/build/*

build/*

build/compiler/
build/compiler/*.cmake
!build/compiler/sarnc.exe


*.ll
*.o
*.obj
*.a
*.lib
*.out
*.pdb
*.obj
*.ilk
*.sarn.sig

cache/

bin/*

node_modules/
npm-debug.log
package-lock.json