.packages/
sarn/

examples/*.ll
examples/*.exe

tools/lsp/sarn-lsp/build/*

build/*

!build/compiler/
!build/compiler/Release/sarnc.exe
build/compiler/*.vcxproj
build/compiler/*.filters
build/compiler/*.cmake
build/compiler/sarnc.dir/
build/compiler/CmakeFiles/


*.ll
*.o
*.obj
*.a
*.lib
*.out
*.pdb
*.obj
*.ilk
*.sarn.sig

cache/

bin/*

node_modules/
npm-debug.log
package-lock.json